<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaySnUDxXD1x9TpakGghAGO73tX_WWg6g</string>
	<key>GCM_SENDER_ID</key>
	<string>1031509615415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZabihNajeebev.Dr-Appiontment</string>
	<key>PROJECT_ID</key>
	<string>login-c49ee</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c49ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031509615415:ios:d59b1ac7f6a6c8c70270b2</string>
</dict>
</plist>